[alias]
	a = add
	aa = add .
	br = branch -a
	cl = config --global --list
	co = checkout
	d = diff
	ds = diff --staged
	lg = log --all --graph
	lgs = log --all --graph --oneline
	lgc = log -1 HEAD
	s = status
	sw = switch

[init]
	defaultBranch = main

[pull]
	rebase = true

[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global

[user]
  useConfigOnly = true

[color]
	ui = true

[color "branch"]
	current = red
	remote = cyan

[color "status"]
	changed = yellow
